body {
  background: -webkit-radial-gradient(#4096ee, paleturquoise);
  background: -o-radial-gradient(#4096ee, paleturquoise);
  background: -moz-radial-gradient(#4096ee, paleturquoise);
  background: radial-gradient(#4096ee, paleturquoise); }

.maintext {
  font-family: Lato;
  text-shadow: 5px 5px 5px #FF0000;
  text-align: center; }

.tab {
  font-family: nunito; }

.drop {
  display: block;
  margin: 0 auto; }

a li ul div div div:link {
  color: black; }

a li ul div div div:hover {
  color: #0040FF; }

a:active {
  color: #0000FF; }

hr {
  width: 40%; }

#titleimg {
  width: 100%;
  max-width: 25%;
  display: block;
  margin: 0 auto;
  padding: 1%; }

#nyc {
  width: 100%;
  max-width: 55%;
  display: block;
  margin: 0 auto;
  padding: 1%; }

#skyline {
  background: url(../../images/skyline.png);
  background-size: 100% 100%;
  background-repeat: no-repeat; }

#vid {
  width: 100%;
  background-color: #f4f489; }

.vid_jay {
  padding: 1.5%;
  float: left;
  width: 100%;
  max-width: 50%;
  margin: 0 auto; }

.vidjtext {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 95%%;
  margin: 0 auto;
  background-color: #f4f489; }

.music-align {
  padding: 1em;
  float: left; }

 /*
#size{
	width:100%;
	background-color:red;
	display:inline-block;
}
.genre{
	width:100%;
	margin:0 auto;
}
.eventspic{
	width:100%;
	max-width:25%;
}
.otherpic{
	float:right;
	width:100%;
	max-width:21%;
}
.infoevents{
	width:25%;
	font:;
}
#me{
	width:100%;
	max-width:20%;
	display:block;
	margin:0 auto;

}
#wrapper{
width:50%;
margin:auto;
overflow:hidden;
}
.ab{
	float:left;
	padding:1%;
	width:100%;
	max-width:22%;
}
.about{
	width:100%;
	max-width:20%;
	display:block;
	margin:0 auto;
}
#full{
	height:20%;
	width:100%;
	background-color:#B0FF61;
}
#full1{
	height:20%;
	width:100%;
	background-color:#f7a26a;
}
#full2{
	height:20%;
	width:100%;
	background-color:#69f4eb;
}
.textabout{
	font-family:$font-stack;
}
#blog{
	display:block;
	margin: 0 auto;
	width:100%;
	max-width:35%;
}
.fb{
	width:100%;
	max-width:100%;
}
.twitter{
	width:100%;
	max-width:100%;
}
.map{
	width:100%;
	max-width:100%;
}


@media only screen and (max-width: 450px) {

	#me{
		max-width:60%;
	}
	.ab{
		max-width:23%;
		margin:0 auto;
	}
	.about{
		max-width:45%;
	}
	#wrapper{
		width:95%;
		margin:auto;
		overflow:hidden;
	}
} 
@media only screen and (min-width: 450px) and (max-width: 575px) {
	.drop{
		width:100em;
		max-width:15em;
		display:block;
		margin:0 auto;
	}
} 
@media only screen and (min-width: 450px) and (max-width: 800px) {
	.ab{
		max-width:23%;
	}
	.about{
		max-width:25%;
	}
	#wrapper{
		width:70%;
		margin:auto;
		overflow:hidden;
	}
} 
@media only screen and (max-width: 800px) {
	#nyc{
	width:100%;
	max-width:98%;
}
.vid_jay{
	width:100%;
	max-width:98%;
	margin:0 auto;
}
.eventsright{
	margin:0 auto;
	width:100%;
	max-width:100%;
}
.eventsleft{
	width:100%;
	max-width:100%;
	margin:0 auto;
}
.eventscenter{
	margin:0 auto;
	width:100%;
	max-width:100%;
}
.events img {
	width:100%;
	padding:0;
	margin:0;
} 	
.events-text{
	width:110%;
}
#titleimg{
	width:100%;
	max-width:100%;
}
} 
@media only screen and (min-width: 800px) and (max-width: 1130px) {
	.drop{
		width:100em;
		max-width:30em;
		display:block;
		margin:0 auto;
	}
	#title{
		padding:0 10% 0 0;
	}
	.eventsright{
		float:right;
		width:100%;
		max-width:30%;
	}
	.eventsleft{
		width:100%;
		max-width:30%;
		float:left;
	}
	.eventscenter{
		margin:0 auto;
		width:100%;
		max-width:50%;
	}
	.events img {
		width:100%;
		padding:0;
		margin:0;
	} 	
	.events-text{
		width:110%;
	}
}
*/
