$font-stack:lato;
$secondary-font:nunito;
$secondary-color:#4096ee;
$primary-color:#AFEEEE;
body{
	background: -webkit-radial-gradient($secondary-color, $primary-color);
    background: -o-radial-gradient($secondary-color, $primary-color);
    background: -moz-radial-gradient($secondary-color, $primary-color);
    background: radial-gradient($secondary-color, $primary-color);
}
.maintext{
 	font-family:$font-stack;
	text-align:center;
}
.tab{
	font-family:$secondary-font;
}
.drop{
	display:block;
	margin:0 auto;
}
hr{
	width:40%;
}
#titleimg{
	width:100%;
	max-width:25%; 
	display:block;
	margin:0 auto;
	padding:1%;
}

#nyc{
	width:100%;
	max-width:55%; 
	display:block;
	margin:0 auto;
	padding:1%;
}
#skyline{
	background: url(../../images/skyline.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#vid{
	width:100%;
	background-color:#eee;
}
.vid_jay{
	padding:1.5%;
	float:left;
	width:100%;
	max-width:50%;
	margin:0 auto;
}
.vidjtext{
 	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    max-width:95%%;
    margin:0 auto;
    background-color:#eee;
}

.infoevents{
	font-size:2em;
	font-family:$font-stack;
}
.lead{
	padding:5%;
}
.atext{
	font-family:$secondary-font;
	text-align:center;
	font-size:3em;
}
.about{
	display:block;
	margin:0 auto;
}
@media only screen and (max-width: 800px) {
	#nyc{
	width:100%;
	max-width:98%;
	}
	.vid_jay{
		width:100%;
		max-width:98%;
		margin:0 auto;
	}

	#titleimg{
		width:100%;
		max-width:75%%;
	}
	#vid{
		display:block;
		margin:0 auto
	}
}





